@()

@import play.api.Play.current

<div id="secondary" class="sidebar"> @* for accessibility *@
    <div class="row">
        <div class="span2">
            <span class="spriteSidebar meImg">&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="span2">
            <a href="@routes.Application.fullBio()" class="pjaxLink">@Messages("sidebar.more") &nbsp;&nbsp;&gt;</a>
        </div>
    </div>
    <div class="row">
        <div class="span2"><a href="https://twitter.com/pvillega" rel="tooltip" title="Twitter" target="_blank"><span class="spriteSidebar twitterImg">&nbsp;</span>&nbsp;@@pvillega</a></div>
    </div>
    <div class="row">
        <div class="span2"><a href="mailto:pere.villega@@gmail.com" rel="tooltip" title="Email" target="_blank"><span class="spriteSidebar emailImg">&nbsp;</span>&nbsp;Contact me!</div>
    </div>
    <div class="row">
        <div class="span2"><a href="https://github.com/pvillega" rel="tooltip" title="Github" target="_blank"><span class="spriteSidebar githubImg">&nbsp;</span>&nbsp;Github</a></div>
    </div>
    <div class="row">
        <div class="span2"><a href="http://stackoverflow.com/users/116791/pere-villega" rel="tooltip" title="Stack Overflow" target="_blank"><span class="spriteSidebar soImg">&nbsp;</span>&nbsp;Stack Overflow</a></div>
    </div>
    <div class="row">
        <div class="span2"><a href="@routes.Application.rss()" rel="tooltip" title="@Messages("area.rss")"><span class="spriteSidebar rssImg">&nbsp;</span>&nbsp;@Messages("area.rss")</a></div>
    </div>
</div>

