@()

<div class="row">
    <div class="span1"><p class="textLabel">@Messages("index.contact.email")</p></div>
    <div class="span5"><a href="mailto:pere.villega@@gmail.com" rel="tooltip" title="Email"><img src="@routes.Assets.at("images/sidebar/mail.png")" alt="Email" />&nbsp;(pere.villega@@gmail.com)</a></div>
</div>
<div class="row">
    <div class="span1"><p class="textLabel">@Messages("index.contact.social")</p></div>
    <div class="span5">
        <a href="https://twitter.com/pvillega" rel="tooltip" title="Twitter" target="_blank"><img src="@routes.Assets.at("images/sidebar/twitter.png")" alt-"Twitter" /></a>
        <a href="https://plus.google.com/102800742622357678692" rel="tooltip" title="Google +" target="_blank"><img src="@routes.Assets.at("images/sidebar/google_plus.png")" alt="Google Plus" /></a>
        <a href="http://ie.linkedin.com/in/perevillega" rel="tooltip" title="Linked In" target="_blank"><img src="@routes.Assets.at("images/sidebar/linkedin.png")" alt="LinkedIn"/></a>
        <a href="https://github.com/pvillega" rel="tooltip" title="Github" target="_blank"><img src="@routes.Assets.at("images/sidebar/github.png")" alt="Github"/></a>
        <a href="http://stackoverflow.com/users/116791/pere-villega" rel="tooltip" title="Stack Overflow" target="_blank"><img src="@routes.Assets.at("images/sidebar/so.png")" alt="Stack Overflow"/></a>
        <a href="@routes.Application.rss()" rel="tooltip" title="@Messages("area.rss")"><img src="@routes.Assets.at("images/sidebar/rss.png")" /></a>
    </div>
</div>