@()

Pere:
<ul class="triviaList">
    <li>is from the lovely city of <a href="http://en.wikipedia.org/wiki/Barcelona" target="_blank">Barcelona</a></li>
    <li>is a supporter of <a href="http://www.manutd.com/" target="_blank">Manchester United</a></li>
    <li>is a happily married nerd</li>
    <li>doesn't miss a chance to evangelize <a href="http://www.scala-lang.org/" target="_blank">Scala</a> and <a href="http://www.playframework.org/" target="_blank">Play</a> to his workmates</li>
    <li>owns a <a href="/assets/images/other/droid.jpg">Droid</a> brought by a friend from Hong Kong</li>
    <li>dislikes Apple and its drones</li>
</ul>