@(id: Int, linkForm: Form[models.Link])(implicit request: play.api.mvc.RequestHeader)

@import helper._
@import helper.twitterBootstrap._

@implicitField = @{ FieldConstructor(views.html.tag.formElement.f) }

@import tag._

@moreScripts = {
<script async src="@routes.Assets.at("javascripts/pagedown.pv.min.js")" type="text/javascript"></script>
}

@layout(Messages("area.manageLinks"), moreScripts) {
    <div class="row">
        <div class="span9">
            <h4 class="index">@Messages("links.edit")</h4>
        </div>
    </div>
    <div class="row">
        <div class="span1 offset8">
            @helper.form(action = routes.Management.deleteLink(id)) {
                <input type="submit" class="btn btn-danger" value="@Messages("navigation.delete")" />
            }
        </div>
    </div>
    @helper.form(action = routes.Management.updateLink(id), 'class -> "well") {

        <input type="hidden" name="id" id="id" value="@id"/>

        @inputText(
            linkForm("link"),
            '_label -> Messages("links.edit.link"),
            '_error -> linkForm.globalError
        )

        @inputText(
            linkForm("category"),
            '_label -> Messages("links.edit.category"),
            '_error -> linkForm.globalError,
            Symbol("data-provide") -> "typeahead"
        )
        <script type="text/javascript">
            $(function() {
                tagSearch('category', @models.Link.getAllCategories());
            });
        </script>


        @inputText(
            linkForm("subcategory"),
            '_label -> Messages("links.edit.subcategory"),
            '_error -> linkForm.globalError,
            Symbol("data-provide") -> "typeahead"
        )
        <script type="text/javascript">
            $(function() {
                tagSearch('category', @models.Link.getAllSubCategories());
            });
        </script>

        @inputText(
            linkForm("subject"),
            '_label -> Messages("links.edit.subject"),
            '_error -> linkForm.globalError,
            Symbol("data-provide") -> "typeahead"
        )
        <script type="text/javascript">
            $(function() {
                tagSearch('category', @models.Link.getAllSubjects());
            });
        </script>

        @checkbox(
            linkForm("archive"),
            '_label -> Messages("links.edit.archive"),
            '_error -> linkForm.globalError
        )

        @richTextEditor("comment",
            linkForm("comment"),
            '_label -> Messages("links.edit.comment"),
            '_error -> linkForm.globalError
        )

        <div class="form-actions">
            <a href="@routes.Management.listLinks()" class="btn pjaxLink">@Messages("navigation.back")</a>
            <input type="submit" class="btn btn-primary" value="@Messages("navigation.save")">
        </div>

    }
}