@(list: List[models.Project])(implicit request: play.api.mvc.RequestHeader)


@import tag._

@layout(Messages("area.manageProjects")) {
    <div class="row">
        <div class="span9">
            <h4 class="index">@Messages("projects.list")</h4>
        </div>
    </div>
    <div class="row">
        <div class="span9">
            <a href="@routes.Management.addProject()" class="btn btn-info pjaxLink">@Messages("projects.add")</a>
        </div>
    </div>
    <div class="row">
        <div class="span9">
            &nbsp;
        </div>
    </div>


    @list.map { p =>
        <div class="row">
            <div class="span6">
                <h2>@p.name</h2>
            </div>
            <div class="span2">
                (@p.added.format("dd-MM-yyyy"))
                <a href="@routes.Management.editProject(p.id)" class="btn btn-success pjaxLink">@Messages("navigation.edit")</a>
            </div>
            <div class="span1">
                @helper.form(action = routes.Management.deleteProject(p.id)) {
                <input type="submit" class="btn btn-danger" value="@Messages("navigation.delete")" />
                }
            </div>
        </div>
    }
}