@(archived: Map[String, Map[String, Map[String, List[models.Link]]] ])(implicit request: play.api.mvc.RequestHeader)


@import tag._

@printList(list: List[models.Link]) = {
    @list.map { d =>
    <div class="row">
        <div class="span9">
            <a href="@d.link" target="_blank">@d.link</a>
        </div>
    </div>
    <div class="row">
        <div class="span9">
            <p>@d.comment</p>
        </div>
    </div>
    }
}

@printArchive(arch: Map[String, Map[String, Map[String, List[models.Link]]] ]) = {
<div id="accordionArchive" class="accordion">
    @arch.map { k =>
    <div class="accordion-group" name="@k._1">
        <div class="accordion-heading">
            <a href="#@k._1" data-parent="#accordionArchive" data-toggle="collapse" class="accordion-toggle archiveCategory">
                @k._1
            </a>
        </div>
        <div class="accordion-body collapse" id="@k._1" style="height: 0px;">
            <div class="accordion-inner">

                <div id="accordionArchive@k._1" class="accordion">
                @k._2.map { sk =>
                    <div class="accordion-group" name="@k._1@sk._1">
                        <div class="accordion-heading">
                            <a href="#@k._1@sk._1" data-parent="#accordionArchive@k._1" data-toggle="collapse" class="accordion-toggle archiveCategory">
                                @sk._1
                            </a>
                        </div>
                        <div class="accordion-body collapse" id="@k._1@sk._1" style="height: 0px;">
                            <div class="accordion-inner">

                                <div id="accordionArchive@k._1@sk._1" class="accordion">
                                    @sk._2.map { subj =>
                                    <div class="accordion-group" name="@k._1@sk._1@subj._1">
                                        <div class="accordion-heading">
                                            <a href="#@k._1@sk._1@subj._1" data-parent="#accordionArchive@k._1@sk._1" data-toggle="collapse" class="accordion-toggle archiveCategory">
                                                @subj._1
                                            </a>
                                        </div>
                                        <div class="accordion-body collapse" id="@k._1@sk._1@subj._1" style="height: 0px;">
                                            <div class="accordion-inner">
                                                @printList(subj._2)
                                            </div>
                                        </div>
                                    </div>
                                    }
                                </div>


                            </div>
                        </div>
                    </div>
                }
                </div>


            </div>
        </div>
    </div>
    }
</div>
}

@layout(Messages("area.dump")) {
    <div class="row">
        <div class="span9">
            <h4 class="index">@Messages("area.dump")</h4>
        </div>
    </div>


    <div class="row">
        <div class="span9">
            <div class="row">
                <div class="span9">
                    <p>@Messages("dump.done.intro")</p>
                </div>
            </div>
            <div class="row">
                <div class="span9">
                  &nbsp;
                </div>
            </div>

            @printArchive(archived)
        </div>
    </div>
}