@(list: List[models.Post], previous: Boolean, next: Boolean, page: Int)(implicit request: play.api.mvc.RequestHeader)

@import tag._

@layout(Messages("area.posts")) {
    <div class="row">
        <div class="span9">
            <h4 class="index">@Messages("area.posts")</h4>
        </div>
    </div>

    @list.map { post =>
           @summaryPost(post)
    }
    <div class="row">
        <div class="span2">
           @if(previous){ <a href="@routes.Application.blog(page - 1)" class="pjaxLink">@Messages("posts.newer")</a> } else { &nbsp; }
        </div>
        <div class="span2 offset5">
            @if(next) { <a href="@routes.Application.blog(page + 1)" class="pjaxLink">@Messages("posts.older")</a> }
        </div>
    </div>
}