@(projects: List[models.Project], posts: List[models.Post])(implicit request: play.api.mvc.RequestHeader)

@import tag._
@import play.api.Play.current

@moreScripts = {
    <script async src="http://cdnjs.cloudflare.com/ajax/libs/tweet/2.1/jquery.tweet.js"></script>
    <script async src="@routes.Assets.at("javascripts/quotes.pv.min.js")" type="text/javascript"></script>
}

@main(Messages("app.title"), moreScripts) {
        <header role="banner" id="branding">
            <h1 class="title">
                <a href="@routes.Application.index()" class="pjaxLink">@Messages("app.title")</a>
            </h1>
            <div id="tagline">
                <h5>Looking for a nerdy tag line here</h5>
            </div>
        </header>
        @navbar()

        <div class="row">
            <div class="span6">
                @* profile *@
                <div class="row" id="secondary">
                    <div class="span2">
                        <span class="spriteContact meImg">&nbsp;</span>
                    </div>
                    <div class="span4">
                        @personalBio.shortBio()
                        <a href="@routes.Application.fullBio()" class="pjaxLink">@Messages("index.fullBio")</a>
                    </div>
                </div>

                @* list of projects *@
                <div class="row">
                    <div class="span6">
                        <h4 class="projects">@Messages("index.projects")</h4>
                    </div>
                </div>
                @projects.map { p =>
                <div class="row indexProjectArea">
                    <div class="span2">
                        <a href="@p.link" target="_blank"><img src="@routes.Assets.at("images/projects/"+p.image)" /></a>
                    </div>
                    <div class="span4">
                        <h3>@p.name</h3>
                        <p>@p.commentHtml</p>
                        <a href="@p.link" target="_blank">@p.link</a>
                    </div>
                </div>
                }
                <div class="row">
                    <div class="span6">
                        <a href="@routes.Application.projects" class="pjaxLink">@Messages("index.projects.more")</a>
                    </div>
                </div>

            </div>
            @*right column *@
            <div class="span6">

                @* posts and twitter *@
                <div class="row">
                    <div class="span3" id="content">
                        @* posts *@
                        <div class="row">
                            <div class="span3">
                                <h4 class="indexSection top">@Messages("index.posts")</h4>
                            </div>
                        </div>
                        @posts.map { post =>
                        <div class="row indexProjectArea">
                            <div class="span3">
                                (@post.published.format("dd-MM-yyyy"))
                                <a href="@routes.Application.post(post.id, post.slug, post.published.format("yyyy"), post.published.format("MM"), post.published.format("dd"))" class="pjaxLink">@post.title &gt;</a>
                            </div>
                        </div>
                        }
                        <div class="row">
                            <div class="span3">
                                <a href="@routes.Application.blog(0)" class="pjaxLink">@Messages("index.posts.more")</a>
                            </div>
                        </div>
                    </div>
                    <div class="span3">
                        @* twitter badge *@
                        <div class="row">
                            <div class="span3">
                                <h4 class="indexSection top">@Messages("index.twitter")</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span3">
                                @* Twitter summary *@
                                <div class="tweet">loading tweets...&nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>

                @*contact*@
                <div class="row">
                    <div class="span6">
                        <h4 class="indexSection">@Messages("index.contact")</h4>
                    </div>
                </div>
                @contact.contact()

                @*Trivia*@
                <div class="row">
                    <div class="span6">
                        <h4 class="indexSection">@Messages("index.trivia")</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        @trivia.trivia()
                    </div>
                </div>

            </div> @* end right column *@

        </div>
}